
@{
    ViewBag.Title = "AddRestaurant";
    Layout = "~/Views/Shared/reslayout.cshtml";
}

<h3>Add Restaurant</h3>

<form action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Name of Restaurant" />
    <br />
    <input type="submit" value="SUBMIT" class="form-control" /> 
</form>