
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/ngolayout.cshtml";
}

<h3>Enroll Employee</h3>
<form action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Enter Employee Name" />
    <input type="submit" class="form-control" value="ENROLL" />
</form>

